@import "tailwindcss";

@theme {
  --color-fnb-blue: #00387A;
  --color-fnb-dark-blue: #003865;
  --color-fnb-sky: #0078C8;
  --color-fnb-red: #A80432;
  --color-fnb-green: #008524;
  --color-fnb-dove: #686D71;
  --color-fnb-dark-gray: #222930;
  --color-fnb-text: #11151D;
  --color-fnb-primary: #001737;
  --color-fnb-bg: #FAFCFF;

  --font-figtree: 'Figtree', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

.page-x {
  padding-left: clamp(1.5rem, 5vw, 7.5rem);
  padding-right: clamp(1.5rem, 5vw, 7.5rem);
}
